<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<%= link_to "Doctors", static_pages_doctors_path %><br />
<%= link_to "Patients", static_pages_patients_path %><br />
<%= link_to "Microbiologist", static_pages_microbiologists_path %><br />
<%= link_to "Accounting", static_pages_accounting_path %><br />
