<div class="row">
  <div class="twelve columns text-center"><br />
    <h1>Illness Was Successfully Added To The Databse!</h1>
    <p> Please continue! </p>
    <%= link_to 'Continue', illness_details_path, class: "button success" %>
  </div>
</div>
