<div class="row">
  <div class="twelve columns text-center"><br />
    <h1>Your Hospitalization Was Successfully Scheduled!</h1>
    <p> Please continue! </p>
    <%= link_to 'Continue', hospitalizations_path, class: "button success" %>
  </div>
</div>
