<div class="row">
  <div class="twelve columns text-center"><br />
    <h1>The Bill Has Been Sent To The Patient!</h1>
    <p> Please continue! </p>
    <%= link_to 'Continue', bills_path, class: "button success" %>
  </div>
</div>
