<%if user_signed_in?%>
<div class="row">
  <div class="twelve columns text-center"><br />
    <h1>New Patient</h1>
  </div>
</div>
<%= render 'form' %>
<%else%>
 You can't register a new patient.
<%end%>
