<%if user_signed_in? %>
<div class="row">
  <div class="twelve columns text-center"><br />
    <h1>Your Patient Profile Was Successfully Created!</h1>
    <p> Please continue! </p>
    <%= link_to 'Continue', patients_path, class: "button success" %>
  </div>
</div>

<% end %>

<% if admin_signed_in? %>
<div class="row">
  <div class="twelve columns text-center"><br />
    <h1>The Patient Profile Was Successfully Modified!</h1>
    <p> Please continue! </p>
    <%= link_to 'Continue', patients_path, class: "button success" %>
  </div>
</div>
<% end %>
