<div class="row">
  <div class="twelve columns text-center"><br />
    <h1>Your Microbiologist Profile Was Successfully Created!</h1>
    <p> Please continue! </p>
    <%= link_to 'Continue', microbiologists_path, class: "button success" %>
  </div>
</div>
