<div class="row">
  <div class="twelve columns text-center"><br />
    <h1>New Blood Chemistry Test Successfully Added to Database!</h1>
    <p> Please continue! </p>
    <%= link_to 'Continue', blood_chemistry_tests_path, class: "button success" %>
  </div>
</div>
